* {
    font-family: 'Space Mono';
}

.titulo-projeto {
    text-align: center;
    margin-top: 80px;
    color: hsl(186, 14%, 43%);
}









/* .attribution {
    text-align: center;
}

.attribution a {
    color: rgb(0, 191, 255);
} */