* {
    font-family: 'Space Mono';
}

body {
    background-color: hsl(185, 41%, 84%);
}

.titulo-projeto {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: hsl(186, 14%, 43%);
    font-size: 30px;
}

.quadros {
    background-color: #fff;
    border-radius: 30px;
    width: 70%;
    height: 450px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.info-preencher {
    width: 40%;
}

.bill {
    padding: 1rem;
}

.bill h2 {
    margin: 0px 0px 10px 5px;
    color: hsl(0, 0%, 7%);
}

.bill-input-container {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    border: none;
}

.bill-input-container:focus-within {
    border: 2px solid hsl(172, 67%, 45%);
}

.bill-input {
    height: 45px;
    width: 310px;
    border-radius: 5px;
    border: none;
    background-color: hsl(189, 41%, 97%);
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

.bill-input::placeholder {
    font-size: 20px;
    text-align: right;
}

.select-tip {
    margin-left: 15px;
}

.select-tip h2 {
    color: hsl(0, 0%, 7%);
}

.select-tip-botoes-container {
    padding: 10px;
}

.botao-5,
.botao-10,
.botao-15,
.botao-25,
.botao-50 {
    height: 50px;
    width: 100px;
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.botao-custom {
    height: 50px;
    width: 100px;
    margin-top: 10px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    font-size: 24px;
}

.botao-custom::placeholder {
    color: #000000;
    font-size: 24px;
}

.botao-custom:focus {
    outline: solid 2px hsl(172, 67%, 45%);
}

.numero-pessoas {
    margin-left: 15px;
}

.numero-pessoas h2 {
    margin-bottom: 10px;
}

.numero-pessoas-input-container {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    border: none;
}

.numero-pessoas-input-container:focus-within {
    border: 2px solid hsl(172, 67%, 45%);
}

.numero-pessoas-input {
    height: 45px;
    width: 310px;
    border-radius: 5px;
    border: none;
    background-color: hsl(189, 41%, 97%);
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

.numero-pessoas-input::placeholder {
    font-size: 20px;
    text-align: right;
}

.info-resultado {
    background-color: hsl(183, 100%, 15%);
    width: 40%;
    height: 400px;
    margin: auto 50px auto 0px;
    border-radius: 20px;
    padding: 1rem;
}

.tip-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 20px 0px;
}

.tip-amount h2 {
    font-size: 40px;
    color: hsl(172, 67%, 45%);

}

.translucido {
    color: #ffffff93;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 50px 0px 20px 0px;
}

.total h2 {
    color: hsl(172, 67%, 45%);
    font-size: 40px;
}

.reset-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    padding-top: 80px;
}

.reset-button {
    border: none;
    width: 93%;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    background-color:  hsl(172, 67%, 45%);
}

.reset-button:hover {
    cursor: pointer;
}




.attribution {
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.attribution a {
    color: rgb(0, 191, 255);
}